#topo-dashboard {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    padding: 11px 0;
}

#titulo-dashboard {
    width: 200px;
    margin-right: 10px;
    justify-content: center;
    color: rgb(198, 22, 27);
    font-weight: bold;
    font-size: 20px;
}

#area-pesquisa-dashboard {
    display: flex;
    justify-content: center;
    width: 300px;
    gap: 5px;
    background-color: beige;
    color: rgb(198, 22, 27);
}

#pesquisar-dashboard {
    width: 200px;
    background-color: beige;
    border: 0 solid rgb(198, 22, 27);
    color: rgb(198, 22, 27);
}

.botao-dashboard {
    background-color: beige;
    border: 0 none transparent;
}

#config-conta-dashboard {
    width: 200px;
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: beige;
}

#conteudo-dashboard {
    display: flex;
    background-color: rgb(198, 22, 27);
}

nav {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 30px;
    border-right: 3px solid rgb(198, 22, 27);
    border-top: 3px;
    font-size: 20px;
    background-color: beige;
    color: rgb(198, 22, 27);
}

.caixas-nav {
    width: 60%;
    border-bottom: 3px solid rgb(198, 22, 27);
    padding-bottom: 18px;
}

.titulo-nav {
    margin-bottom: 8px;
    font-size: 28px;
    font-weight: bold;
}

#alteracao {
    background-color: beige;
    margin-bottom: 40px;
}

#relatorios {
    background-color: beige;
}

.itens-alt-rel {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link-alteracao-relatorio:hover {
    text-decoration: underline;
    cursor: pointer;
}



#cadastrar-produto {
    width: 100%;
    height: 600px;
    color: rgb(198, 22, 27);
    background-color: beige;
    padding-left: 40px;
    font-size: 22px;
}

.titulo-cadastro {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 30px;
}

.item-cadastro {
    margin-bottom: 25px;
}

#descricao,
#preco,
#ficha-tecnica,
#selecione,
#imagem-produto,
#textarea-ficha-tecnica {
    width: 60%;
}

#botao-cadastrar {
    width: 110px;
    height: 35px;
    margin-left: 25%;
    color: rgb(198, 22, 27);
    background-color: transparent;
    border: 3px solid rgb(198, 22, 27);
    border-radius: 0;
    border-style: 0;
}

#margem-inferior {
    height: 30px;
    background-color: beige;
}