footer {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    height: 120px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#esquerda-footer {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

#newsletter-box {
    width: 35%;
    display: flex;
    border-bottom: 2px solid white;
}

#email-newsletter {
    width: 100%;
    font-size: 15px;
    color: white;
    border: none;
    background-color: transparent;
}

#email-button {
    border: none;
    font-weight: bold;
    color: white;
    background-color: transparent;
    width: 20px;
    height: 20px;
}

#link-insta {
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

#link-insta:hover {
    text-decoration: underline;
    cursor: pointer;
}

#logo-footer {
    width: 33.3%;
    height: 120px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: bold;
}

#direita-footer {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    margin-right: 20px;
}

.endereco {
    text-align: end;
}

#fale-conosco {
    font-weight: bold;
}

#fale-conosco:hover {
    text-decoration: underline;
    cursor: pointer;
}