li {
    list-style: none;
}

#produto-content {
    display: flex;
    background-color: beige;
    justify-content: center;
    height: auto;
    padding-top: 20px;
    width: 100%;
    padding-bottom: 200px;
}

#imagens {
    background-color: beige;
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#imagens>button {
    border: none;
    margin: none;
    padding: none;
    width: 100%;
    margin-bottom: 4.5%;
}

#imagens>button>img {
    width: 100%;
    height: 100%;
}

#imagem-exibida {
    background-color: beige;
    width: 35%;
    height: 100%;
    margin-right: 20px;
    display: flex;
    justify-content: center;
}

#imagem-exibida>img {
    width: 90%;
    height: auto;
}

.seta {
    display: flex;
    width: 5%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.botao-seta {
    width: 100%;
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 20px;
    color: rgb(198, 22, 27);
}

#sobre-produto {
    color: rgb(198, 22, 27);
    background-color: beige;
    width: 30%;
}

#titulo-produto {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
}

#preco-produto {
    font-weight: bold;
    font-size: 18px;
}

#parcela-produto {
    font-size: 18px;
    margin-top: 10px;
}

#info-produto {
    font-size: 15px;
    margin: 23px 0px;
}

#info-produto>li {
    padding-left: 20px;
    list-style: inside;
}

#tamanhos-produto {
    font-weight: bold;
}

#tamanhos-itens {
    display: flex;
    flex-direction: row;
    background-color: beige;
    justify-content: space-evenly;
}

.tamanho {
    height: 32px;
    width: 32px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    border: none;
    background-color: rgb(253, 105, 110);
    color: beige;
}

#fim-produto {
    display: flex;
    background-color: beige;
    justify-content: space-around;
}

.quantidade-produto {
    width: 40%;
    gap: 10%;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-quantidade {
    background-color: transparent;
}

.botao-quantidade {
    width: 20px;
    font-size: 20px;
    padding: none;
    border: none;
    margin: 4px;
    background-color: transparent;
    color: rgb(198, 22, 27);
}

#comprar-produto {
    width: 50%;
}

#botao-comprar {
    width: 100%;
    height: 100%;
    background-color: rgb(198, 22, 27);
    color: beige;
    border: none;
}